<p id="notice"><%= notice %></p>

<h1>Listing Pages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Updated</th>
      <th>Id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.body %></td>
        <td><%= page.updated %></td>
        <td><%= page.id %></td>
        <td><%= link_to 'Show', page %></td>
      </tr>
    <% end %>
  </tbody>
</table>

