<p id="notice"><%= notice %></p>

<div class="content">
  <h1>EVENTS</h1>

  <ul>
    <% @hackathons.each do |hackathon| %>
      <% unless hackathon.highschool %>
        <li>
         <div class="left">
           <h3><%=hackathon.date%></h3>
        </div>
        <div class="body">
          <h2><%="#{hackathon.name}//#{hackathon.location}"%></h2>
          <p>This is a hackathon!</p>
        </div>
        <%=link_to "RSVP", hackathon.site, :class => "button" %>
      </li>
      <%end%>
    <%end%>
  </ul>
  <%= link_to 'New Hackathon', new_hackathon_path %>
</div>